<mat-card>
    <form #studentsForm="ngForm">
      <div class="example-container">
            <mat-form-field appearance="standard">
              <mat-label>Math Average</mat-label>
              <input matInput 
                [(ngModel)]="math"
                name = "math"
                required>
            </mat-form-field>

            <mat-form-field appearance="standard">
              <mat-label>Psychometric Grade</mat-label>
              <input matInput
                [(ngModel)] = "psycho" 
                name = "psycho" 
                required>
            </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Payments Status Selection</mat-label>
                  <mat-select place-holder = "Students" [(ngModel)] = "tuition" name = "tuition" required>
                      <mat-option *ngFor="let tuition of tuitions" [value]="tuition.name">
                      {{tuition.name}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
                
                <div *ngIf="result">
                  <span>Result</span>
                  <span *ngIf="fallsOut">Not Falls Out</span>
                  <span *ngIf="!fallsOut"> Falls Out</span>
                </div>
                
            <div>

              <button (click)="askPredict()" *ngIf="!result"  mat-raised-button color="primary">
                Predict
              </button>

              <button (click)="save()" *ngIf="result"    mat-raised-button color="primary">
                Save
              </button>
              <button (click)="cancel()" *ngIf="result"  mat-raised-button color="primary">
                Cancel
              </button>
                </div>

                </div>
                </form>
</mat-card>